// Fonts
$text_font: "Nanum Gothic Coding", monospace;
$font_size: 12pt;

$man_indent_chars: 8;
$man_indent_chars_mobile: 4;
$man_right_padding_chars: 2;
$man_right_padding_chars_mobile: 1;
$man_ul_marker: '*  ';
